{# templates/partials/footer.html.twig #}
<footer class="footer mt-auto py-3 bg-light">
	<div class="container">
		<span class="text-muted">Gestion de Stock © 2024. Tous droits
									 reservées.</span>

	</div>
</footer>
