{# templates/default/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
	<div class="jumbotron">
		<h1 class="display-4">Bonjour dans notre application Gestion de
															 Stock!</h1>

		<p class="lead">G´erez vos ingréedients et recettes facilement avec notre
															 interface intuitive.</p>
		<hr class="my-4">
		<p>Utilisez la navigation ci-dessus pour commencer.</p>
	</div>
{% endblock %}
